<div class="container">
  <h2>Advanced Search</h2>
  <hr/>
  <div class="row">
    <%= form_tag advanced_search_path, id: "adv-search", method: :get do |f|%>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'q', 'Content'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('q','', class: "form-control") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'entry', 'Entry ID'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('entry','', class: "form-control", placeholder: "ARO-4-0005-03") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'content_none', 'Date:'%>
          </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon" id="date_from">from</span>
              <%= search_field_tag('date_from','', placeholder: "yyyy-mm-dd", describedby: "date_from", class: "form-control") %>
            </div>
          </div>
            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon" id="date_to">to</span>
                <%= search_field_tag('date_to','', placeholder: "yyyy-mm-dd ", describedby: "date_to", class: "form-control") %>
            </div>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="lang">Language:</label>
          </div>
          <div class="col-md-6">
            <select class="form-control" id="lang" name="lang">
              <option value="">Any</option>
              <option value="lat">Latin</option>
              <option value="sco">Scots</option>
              <option value="nld">Dutch</option>
            </select>
          </div>
        </div>
      </div>
<br>
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="volume">Volume</span>
          <%= search_field_tag('v','', class: "form-control", placeholder: "4, 5, 7") %>
        </div>
      </div>

      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="page">Page</span>
            <%= search_field_tag('pg','', class: "form-control", placeholder: "5, 18, 9") %>
          </div>
      </div>

      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="paragraph">Paragraph</span>
            <%= search_field_tag('pr','', class: "form-control", placeholder: "1, 2") %>
        </div>
      </div>
    </div>
<hr>
    <div><%= submit_tag 'Search', class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>
<hr />
