<div class="container">
  <h2>Advanced Search</h2>
  <hr/>
  <div class="row">
    <div class="span2">
      <p>Find documents with...</p>
    </div>
    <%= form_tag advanced_search_path, method: :post do |f|%>

      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'content_all', 'all these words:'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('content_all','', class: "form-control") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'content_any', 'any of these words:'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('content_any','', class: "form-control") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'content_none', 'none of these words:'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('content_none','', class: "form-control") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'entry', 'Entry ID'%>
          </div>
          <div class="col-md-6">
            <%= search_field_tag('entry','', class: "form-control", placeholder: "ARO-4-0005-03") %>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <%= label_tag 'content_none', 'Date:'%>
          </div>
          <div class="col-md-2">
            <div class="input-group">
              <span class="input-group-addon" id="date_from">from</span>
              <%= search_field_tag('date_from','', placeholder: "yyyy-mm-dd or yyyy-mm or yyyy", describedby: "date_from", class: "form-control") %>
            </div>
          </div>
            <div class="col-md-2">
              <div class="input-group">
                <span class="input-group-addon" id="date_to">to</span>
                <%= search_field_tag('date_to','', placeholder: "yyyy-mm-dd or yyyy-mm or yyyy ", describedby: "date_to", class: "form-control") %>
            </div>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="lang">Language:</label>
          </div>
          <div class="col-md-6">
            <select class="form-control" id="lang" name="lang">
              <option>Any</option>
              <option>Latin</option>
              <option>Scots</option>
            </select>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2"><%= label_tag 'Group by:'%></div>
          <div class="col-md-6">
            <label class="radio-inline"><input type="radio" name="page" checked />Page</label>
            <label class="radio-inline"><input type="radio" name="paragraph">Paragraph</label>
          </div>
        </div>
      </div>
<br>
      <div class="row">
        <div class="form-group">
          <div class="col-md-2">
            <label for="entry_type">Type:</label>
          </div>
          <div class="col-md-6">
            <select class="form-control" id="entry_type" name="entry_type">
              <option value="heading">Heading</option>
              <option value="entry">Entry</option>
            </select>
          </div>
        </div>
      </div>
<br>
    <div class="form-inline">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon" id="volume">Volume</span>
          <%= search_field_tag('volume','', class: "form-control", placeholder: "4-6, 8") %>
        </div>
      </div>

      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="page">Page</span>
            <%= search_field_tag('page','', class: "form-control", placeholder: "1-5, 9, 10") %>
          </div>
      </div>

      <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon" id="paragraph">Paragraph</span>
            <%= search_field_tag('paragraph','', class: "form-control", placeholder: "1, 2") %>
        </div>
      </div>
    </div>
<hr>
    <div><%= submit_tag 'Search', class: 'btn btn-primary' %></div>
    <% end %>
  </div>
</div>
<hr />
