<div class="container">
  <% if @documents.try(:suggestions).length > 0 %>
  <label> Did you mean one of:
    <% @documents.try(:suggestions).each do |s| %>
    <a href="/search?utf8=✓&q=<%= s %>"><%= s %></a>
    <% end %>
  </label>
  <%end%>
  <ul>
    <% @documents.each do |document| %>
    <li>
      <h4><%= link_to "Volume: #{document.volume}, Page #{document.page}", url_options = {controller: "documents", action: "show", p: document.page, v: document.volume} %></h4>
      <h5><%= document.entry %></h5>
      <% if document.try(:search_highlights) %>
      <p><%= document.search_highlights[:content].html_safe %>...</p>
      <% else %>
      <p><%= raw truncate(document.content, :length => 150) %></p>
      <% end %>
    </li>
    <% end %>
  </ul>
  <div class="text-center">
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @documents %>
      </div>
      <%= will_paginate @documents, :container => false %>
    </div>
  </div>
  <hr />
</div>
