<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag    'pagination' %>
<% end %>

<h1>Articles Search</h1>

<%= link_to 'Back', root_url, class: "btn btn-default" %>
<a href="/"></a>

<% if ! @documents.try(:suggestions).nil? %>

  <% if @documents.try(:suggestions).length != 0 %>
    Did you mean one of:
  <%end%>

  <% @documents.try(:suggestions).each do |s| %>
    <a href="/search?utf8=✓&q=<%= s%>"> <%= s %> </a>
  <% end %>
<%end%>

<ul>
  <% @documents.each do |document| %>
    <li>
      <h3>
        <%= link_to document.title, controller: "documents", action: "show", id: document.id %>
      </h3>
    </li>
  <% end %>
</ul>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @documents %>
  </div>
  <%= will_paginate @documents, :container => false %>
</div>
