<div id="fullpage">
  <div class="section">
    <div class="slide">
      <div class="container" >
        <%= render '/search/search_tools' %>
        <% if @documents.try(:suggestions) %>
          <div class="row">
            <% if @documents.try(:suggestions).length > 0 %>
            <div class="col-xs-6">
              <label> Did you mean one of:
                <% @documents.try(:suggestions).each do |s| %>
                <a href="/search?utf8=✓&q=<%= s %>"><%= s %></a>
                <% end %>
              </label>
            </div>
            <div class="col-xs-6 text-right">
              <span><%= @documents.total_count %> <%if @documents.total_count == 1 %>result<% else %>results<%end%> (<%= @documents.took / 1000.0 %> sec)</span>
            </div>
            <%else%>
            <div class="col-xs-12 text-right">
              <span><%= @documents.total_count %> <%if @documents.total_count == 1 %>result<% else %>results<%end%> (<%= @documents.took / 1000.0 %> sec)</span>
            </div>
            <%end%>
          </div>
        <%end%>
        <% if @documents.length > 0 %>
          <div class="list-group">
            <% @documents.each do |document| %>
            <a class="list-group-item result-link" href="<%= doc_show_path%>?p=<%=document.page%>&v=<%=document.volume%>"
               data-url="<%= doc_page_path%>?p=<%=document.page%>&v=<%=document.volume%>"
               data-page="<%=document.page%>"
               data-vol="<%=document.volume%>">
             <h4>
               Volume: <%= document.volume %>, Page <%= document.page %>
               <sup>Date: <%= document.date %></sup>
             </h4>
              <% if document.highlighted_content %>
              <p class="highlighted_content"><%= document.highlighted_content.html_safe %></p>
              <%else%>
              <p><%= document.content %></p>
              <%end%>
              <mdall>ID: <%= document.entry %></mdall>
            </a>
            <% end %>
          </div>
          <div class="row">
            <div class="text-center">
              <%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
            </div>
          </div>

          <% else %>
            <div class="col-md-8">
              <p>Your search - <%= raw truncate(@query, :length => 30) %> - did not match any documents.</p>
              <p>Suggestions:</p>
              <ul>
                <li>Try different keywords.</li>
              </ul>
            </div>
          <% end %>
        </div>
      </div> <!-- slide -->
      <div class="slide" id="result-slide" style="display: none;">
        <div class="row">
          <div class="col-sm-offset-1 col-sm-2">
              <div class="col-xs-12">
                <button type="button" onclick="$.fn.fullpage.moveTo('results', 0);" class="btn btn-primary">
                  <%= fa_icon "arrow-circle-left", text: "Back to search results" %>
                </button>
            </div>
          </div>
          <div class="col-sm-offset-2 col-sm-7">
              <div class="col-xs-12">
                <h4 id="doc-title"></h4>
              </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div id="result-container"></div>
          </div>
        </div>
      </div> <!-- slide -->
    </div>  <!-- section -->
</div>  <!-- fullpage -->

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "search.js" %>
<%end%>
