<h1>Draft of the parsed XML transciprion</h1>

<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<% if not @document.nil? and @document.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@document.errors.count, "error") %> prohibited
    this article from being saved:</h2>
    <ul>
      <% @document.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

<%= form_for :document, url: doc_edit_path do |f| %>
  <% @documents.each do |doc| %>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    <% end %>
    <%= f.submit "Save", class: "btn btn-primary"%>
<% end %>

<%= button_to 'Back', doc_path, class: "btn btn-default" %>
