<% content_for :stylesheet_includes do %>
  <%= stylesheet_link_tag    'pagination' %>
<% end %>

<hr>

<% if !flash[:notice].blank? %>
   <div class = "alert alert-info">
      <%= flash[:notice] %>
   </div>
<% end %>

<div class="row vertical-align">
  <div class="col-md-6">
    <h1>Documents</h1>
  </div>
  <div class="col-md-6">
    <div class="text-right">
      <%= link_to 'New Document', doc_new_path, class: "btn btn-primary"%>
    </div>
  </div>
</div>
<hr>

<table class = "table table-bordered table-striped">
   <thead>
      <tr>
         <th>Tile</th>
         <th>Download Link</th>
         <th> </th>
      </tr>
   </thead>

   <tbody>
      <% @documents.each do |document| %>

         <tr>
            <td><%= link_to document.title, controller: "documents", action: "show", id: document.id%></td>
            <td><%= button_to "Download" %></td>
            <td><%= button_to "Edit" %></td>
            <td><%= button_to "Delete", document, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{document.title}?" %></td>
         </tr>

      <% end %>
   </tbody>

</table>
<div class="digg_pagination">
  <%= will_paginate @documents, :container => false %>
</div>

<hr>
