<hr />
<div class="container">
	<!-- Left Side: Text contet -->
	<div class="col-md-6">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-4">
						<strong>Tile:</strong> <%= @document.title %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<strong>Date:</strong> <%= @document.date %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<strong>Language:</strong> <%= @document.language %>
					</div> <!-- col-md-4 -->
				</div> <!-- row -->
			</div> <!-- row -->
			<div class="panel-body">
				<div id="json_content" style="display:none;">
					<%= @document.content %>
				</div> <!-- json_content -->
				<div id="processed_transcription"></div>
			</div> <!-- panel-body -->
		</div> <!-- panel panel-primary -->
	</div> <!-- col-md-6 -->
	<!-- End of the left side -->

	<!-- Right Side: Image -->
	<div class="col-md-6">
		<span class='zoom' id="doc-image">
			<%= image_tag(@document_image_normal, class:"img-rounded", maxheight: '800') %>
		</span>
	</div> <!-- col-md-6 -->
	<!-- End of the right side -->

</div> <!-- container -->
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "process_json_content.js" %>
  <%= javascript_include_tag "jquery.zoom.min.js" %>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#doc-image').zoom({
			url: '<%= @document_image_large %>'});
	});
	</script>
<% end %>
<%= link_to 'Back', doc_path, class: "btn btn-default" %>
