<hr />
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
			<div class="col-md-4">
				<strong>Tile:</strong> <%= @document.title %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<strong>Date:</strong> <%= @document.date %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<strong>Language:</strong> <%= @document.language %>
			</div>
		</div>
	</div>
	<div class="panel-body">
		<div id="xml" style="display:none;">
			<%= @document.content %>
		</div>
		<div id="display_xml">

		</div>
	</div>
</div>
<% content_for :javascript_includes do %>
  <%= javascript_include_tag "display_xml.js" %>
<% end %>
<%= link_to 'Back', doc_path, class: "btn btn-default" %>
