<!--By Marcel Zak -->

<div><div><div>
  <div>
    <% if flash[:alert] %>
      <div>
        <legend><%= flash[:alert] %></legend>
      </div>
    <% else %>
      <div>  
      <legend>Please Log In</legend>
      </div>
    <% end %>
    <%= form_tag do %>
      <div class="panel-body">
        <fieldset>
          <div class="login-labels">
            <%= label_tag :email_address, 'Email:' %>
            <%= text_field_tag :email_address, params[:email_address] %>
          </div>
          <div class="login-labels">
            <%= label_tag :password, 'Password:' %>
            <%= password_field_tag :password, params[:password] %>
          </div>
          <div>
            <%= submit_tag "Login" %>
          </div>
        </fieldset>
      </div>
    <% end %>
  </div>
</div>