<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Nick name:</strong>
  <%= @user.nick_name %>
</p>

<p>
  <strong>Email address:</strong>
  <%= @user.email_address %>
</p>

<p>
  <strong>Number of comments:</strong>
  <%= @user.number_of_comments %>
</p>

<p>
  <strong>Rights:</strong>
  <%= @user.rights %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @user.enabled %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
